<html lang="en" dir="rtl">
	<head>
		<meta charset="utf-8"/>
		<title>Metronic Admin RTL Theme #1 | Admin Dashboard</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="Preview page of Metronic Admin RTL Theme #1 for statistics, charts, recent events and reports" name="description"/>
		<meta
		content="" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css"/>
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css"/> <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css"/>
		<link href="../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN THEME GLOBAL STYLES -->
		<link href="../assets/global/css/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css"/> <link href="../assets/global/css/plugins-rtl.min.css" rel="stylesheet" type="text/css"/>
		<!-- END THEME GLOBAL STYLES -->
		<!-- BEGIN THEME LAYOUT STYLES -->
		<link href="../assets/layouts/layout/css/layout-rtl.min.css" rel="stylesheet" type="text/css"/> <link href="../assets/layouts/layout/css/themes/darkblue-rtl.min.css" rel="stylesheet" type="text/css" id="style_color"/>
		<link
		href="../assets/layouts/layout/css/custom-rtl.min.css" rel="stylesheet" type="text/css"/>
		<!-- END THEME LAYOUT STYLES -->
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
		<div
			class="page-wrapper">
			<!-- BEGIN HEADER -->
			<div
				class="page-header navbar navbar-fixed-top">
				<!-- BEGIN HEADER INNER -->
				<div
					class="page-header-inner ">
					<!-- BEGIN LOGO -->
					<div class="page-logo">
						<a href="index.html">
							<img src="../assets/layouts/layout/img/logo.png" alt="logo" class="logo-default"/>
						</a>
						<div class="menu-toggler sidebar-toggler">
							<span></span>
						</div>
					</div>
					<!-- END LOGO -->
					<!-- BEGIN RESPONSIVE MENU TOGGLER -->
					<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
						<span></span>
					</a>
					<!-- END RESPONSIVE MENU TOGGLER -->
					<!-- BEGIN TOP NAVIGATION MENU -->
					<div class="top-menu">
						<ul class="nav navbar-nav pull-right">
							<li class="dropdown dropdown-quick-sidebar-toggler">
								<a href="javascript:;" class="dropdown-toggle">
									<i class="icon-logout"></i>
								</a>
							</li>
							<!-- END QUICK SIDEBAR TOGGLER -->
						</ul>
					</div>
					<!-- END TOP NAVIGATION MENU -->
				</div>
				<!-- END HEADER INNER -->
			</div>
			<!-- END HEADER -->
			<!-- BEGIN HEADER & CONTENT DIVIDER -->
			<div class="clearfix"></div>
			<!-- END HEADER & CONTENT DIVIDER -->
			<!-- BEGIN CONTAINER -->
			<div
				class="page-container">
				<!-- BEGIN SIDEBAR -->

				{{ include('dashboard/layouts/_sidebar.html.twig') }}
