<div class="page-sidebar-wrapper">

	<div class="page-sidebar navbar-collapse collapse">

		<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
			<li class="sidebar-toggler-wrapper hide">
				<div class="sidebar-toggler">
					<span></span>
				</div>
			</li>


			<li class="heading">
				<h3 class="uppercase">Features</h3>
			</li>
			<li class="nav-item  ">
				<a href="ui_metronic_grid.html" class="nav-link ">
					<span class="title">Metronic Grid System</span>
				</a>
			</li>

		</ul>
		<!-- END SIDEBAR MENU -->
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
